<div id="wrapper">
  <img [src]="this.global.BACKGROUND" class="bg" />

  <form class="formLogin">
    <section [ngClass]="{ img: this.img }">
      <img *ngIf="this.img" [src]="this.img" />
      <img *ngIf="this.img" [src]="this.img" class="shadow" />
    </section>

    <input
      autocomplete="off"
      type="text"
      placeholder="Password"
      #txtPassword
      (keyup)="setPassword(txtPassword.value)"
    />
    <input
      autocomplete="off"
      type="text"
      placeholder="Confirm password"
      [ngClass]="{ err: this.errorPassword }"
      #txtPasswordR
      (keyup)="checkPassword(txtPasswordR.value)"
    />
    <button type="button" (click)="changePassword()">Log in</button>
  </form>
</div>
