img{
    width:90%;
    border-radius: 1em;
    margin:5%;
}
main{
    color:var(--font-primary-color-invert);
    padding:5%;
}
section{
    margin:5vh auto;
    margin-bottom: 10vh;
    overflow:scroll;
}