* {
    color: var(--font-primary-color);
}

.wrapper {
    width: 100%;
    height: 10vh;
    margin-bottom: 2vh;
}

.image {
    display: inline-block;
    width: 27.5%;
    height: 100%;
    position: relative;
}
.image div{
    width: 10vh;
    height:100%;
    overflow: hidden;
    margin:0 auto;
    border-radius: 10%;
    position: relative;
}

.image img {
    height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.details {
    position: relative;
    top: -15%;
    display: inline-block;
    width: 60%;
    height: 100%;
    margin: 0;
}

.details div {
    height: 30%;
}

.details .name {
    font-size: 1.2em;
}

.details .last {
    font-size: .8em;
    color: var(--font-secondary-color);
}

.details .last p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.details .date {
    font-size: .6em;
    color: var(--font-tertiary-color)
}